@import "mixins"

*[row], *[col]
  display: flex

*[wrap]
  display: flex
  flex-wrap: wrap

*[flex]
  flex: auto

@for $i from 1 through 100
  *[flex="#{$i}"]
    @include calc-row-flex($i)

@for $i from 1 through 100
  *[child-flex="#{$i}"] > *
    @include calc-row-flex($i)

@for $i from 1 through 20
  &[cols-flex="#{$i}"] > *
    max-width: 100 / $i + %
    flex: 1 1 100 / $i + %


*[row]
  flex-direction: row
  @include justify-content-set(row)
  @include align-items-set(row)


*[col]
  flex-direction: column
  @include justify-content-set(col)
  @include align-items-set(col)

*[align-content]
  @include justify-content-set(align-content)

*[align-self]
  @include align-self-set
