@import "mixins"

@mixin core($size)

  *[hide~="#{$size}"]
    display: none!important

  @if $size!=""
    $size: $size + '-'

  *[#{$size}row], *[#{$size}col]
    display: flex

  *[#{$size}wrap]
    display: flex
    flex-wrap: wrap

  *[#{$size}flex]
    flex: 1

  *[#{$size}row]
    flex-direction: row
    @include justify-content-set(row)
    @include align-items-set(row)

    @for $i from 1 through 100
      *[#{$size}flex="#{$i}"]
        @include calc-row-flex($i)

    @for $i from 1 through 20
      &[#{$size}cols-flex="#{$i}"] > *
        max-width: calc(100% / #{$i}
        flex: 1 1 calc(100% / #{$i})


  *[#{$size}col]
    flex-direction: column
    @include justify-content-set(col)
    @include align-items-set(col)
    *[#{$size}flex]
      flex-basis: auto
      min-height: 0
    @for $i from 1 through 100
      *[#{$size}flex="#{$i}"]
        @include calc-col-flex($i)

    @for $i from 1 through 20
      &[#{$size}rows-flex="#{$i}"] > *
        max-height: calc(100% / #{$i}
        flex: 1 1 calc(100% / #{$i})

  *[#{$size}align-content]
    @include align-content-set

  *[#{$size}align-self]
    @include align-self-set

  @for $i from -10 through 10
    &[#{$size}order="#{$i}"]
      order: #{$i}

  @for $i from 0 through 20
    &[#{$size}flex-shrink="#{$i}"]
      flex-shrink: #{$i}

  @for $i from 0 through 20
    &[#{$size}flex-grow="#{$i}"]
      flex-grow: #{$i}

@include core("")       
